:root {
    --element-background: #2C423F;
    --light-gray: #829191;
    --silver: #f1eaea;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--silver);
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--silver);
    color: var(--element-background);
    padding: 20px;
    font-size: 1.75rem;
}

header a {
    text-decoration: none;
    color: var(--element-background);
}