:root {
    --element-background: #2C423F;
    --light-gray: #829191;
    --silver: #fffffff8;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--silver);
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--silver);
    color: var(--element-background);
    padding: 20px;
    font-size: 1.75rem;
}

header a {
    text-decoration: none;
    color: var(--element-background);
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b7caca;
    text-align: center;
    padding: 10px;
}
section h1 {
    font-size: 2rem;
}

section p {
    font-size: 1.5rem;
}